.header {
    padding: 15px 0;
}

.header__content {
    display: flex;
    align-items: center;
    position: relative;

    @media screen and (max-width: 525px) {
        justify-content: space-between;
    }
}

.header__logo {
    margin-right: 75px;
}

.header__menuWrapper {
    position: relative;
    flex: 1 1 auto;
    margin-right: 15px;

    @media screen and (max-width: 525px) {
        display: none;
    }

}
// ________________________
.menu {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(105%);
    width: 255px;
    background-color: #EAEAEA;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 30px 30px;
    padding: 19px 27px;
    opacity: 0;
    pointer-events: none;
    transition: opacity $transitionSetting;

    &--open {
        opacity: 1;
        pointer-events: all;
    }
}


.menu__item:not(:last-child) {
    margin-bottom: 10px;

}

.menu__link {
    color: #101010;

    &:hover {
        color: $selectedTextColor;
    }
}


.mobileMenu {
    display: none;
    position: absolute;
    bottom: -100%;
    transform: translateY(100%);
    width: 100%;
    background-color: #EAEAEA;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 30px 30px;
    padding: 19px 27px;
    opacity: 0;
    pointer-events: none;
    transition: opacity $transitionSetting;

    &--open {
        opacity: 1;
        pointer-events: all;
    }

    @media screen and (max-width: 525px) {
        display: block;
    }

}


.header__productButtonsList {
    display: flex;
    align-items: center;
    gap: 45px;
}

.header__button {
    background-color: inherit;
}

.favoriteBtnItem {
    @media screen and (max-width: 525px) {
        display: none;
    }
}

.header__button--menuBtn {
    display: flex;
    align-items: center;

    .phoneIcon {
        margin-right: 15px;
    }

    .vectorDownIcon {
        margin-left: 5px;
    }

    &:hover {
        color: $selectedTextColor;
    }
}

.headerBtnIcon {
    fill: #838383;
    transition: fill $transitionSetting;
    &:hover {
        fill: $selectedTextColor;
    }
}

.header__button:hover .headerBtnIcon{
    fill: $selectedTextColor;
}

.mobileMenuBtnItem {
    @media screen and (min-width: 526px) {
        display: none;
    }
}