.products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.products__item {
    position: relative;
    height: 408px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 15px 22px 0;
    flex-basis: calc(33.33% - 20px);
    min-width: 340px;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: transform $transitionSetting;
    &:hover {
        transform: scale(105%);
    }
}

.products__image {
    min-height: 237px;
    margin-bottom: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__description {
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.product__title {
    font-weight: 600;
    color: #1C1C27;
}

.product__price {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.currentPrice {
    color: $selectedTextColor;
}

.prevPrice {
    color: #FFCE7F;
    text-decoration-line: line-through;
    font-size: 13px;
    font-weight: 600;
}

.likeBtn {
    position: absolute;
    top: 15px;
    left: 22px;
    background-color: inherit;
}

.product__rank {
    position: absolute;
    left: 22px;
    bottom: 33px;
    display: flex;
    align-items: center;
}

.product__rank__Icon {
    margin-right: 10px;
}

.product__rank__value {
    display: inline-block;
    font-weight: 600;
    font-size: 17px;
    color: #838383;
}